<div>
  <div class="skill-grid-list-container">
    <div class="skill-grid-item-container" *ngFor="let item of skillItems">
      <div class="skill-icon">
        <mat-icon class="material-symbols"> {{ item.image }} </mat-icon>
      </div>
      <div class="skill-header">
        <h1>{{ item.header }}</h1>
      </div>
      <div class="skill-body">
        <p>{{ item.body }}</p>
      </div>
    </div>
  </div>
  <div class="service-grid-list-container">
    <div class="service-grid-item-container" *ngFor="let item of servicesItems">
      <h2 class="services-header">{{ item.header }}</h2>
      <div class="services-body">
        <p>
          {{ item.body }}
        </p>
      </div>
      <div class="service-button">
        <button mat-button class="information-button">
          Detaylı Bilgi İçin
          <mat-icon class="information-icon">double_arrow</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
