<div style="padding: 2rem">
  <div class="transportation-truck"></div>
  <div class="header-text-container">
    <h1>Bursa ve Tüm Türkiye'de</h1>
    <h1>
      <b class="transportationType text-animation"> {{ transportationType }}</b>
    </h1>
    <h1>Nakliyat</h1>
  </div>
  <div class="skill-grid-list-container">
    <div class="skill-grid-item-container" *ngFor="let item of skillItems">
      <div class="skill-icon">
        <mat-icon class="material-symbols"> {{ item.image }} </mat-icon>
      </div>
      <div class="skill-header-background"></div>
      <div class="skill-header">
        <p style="margin: 0; line-height: 50px; text-align: center">
          <b>{{ item.header }}</b>
        </p>
      </div>
      <div class="skill-body">
        <p>{{ item.body }}</p>
      </div>
    </div>
  </div>
  <div class="service-grid-list-container">
    <div class="service-grid-item-container" *ngFor="let item of servicesItems">
      <h2 class="services-header">{{ item.header }}</h2>
      <div class="services-body">
        <p>
          {{ item.body }}
        </p>
      </div>
      <div class="service-button">
        <button mat-button class="information-button">
          Detaylı Bilgi İçin
          <mat-icon class="information-icon">double_arrow</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
