<mat-grid-list cols="1" rowHeight="2:1" gutterSize="10px">
  <mat-grid-tile colspan="1" class="">
    <div class="transportation-car">
      <!-- <div class="icon-inside-grid">
        <mat-icon class="material-symbols"> local_shipping </mat-icon>
      </div> -->
      <div class="text-inside-grid text-inside-header">
        <h1>NAKLİYE ARAÇLARI</h1>
      </div>
      <div class="text-inside-grid text-inside-body">
        <h3>Özel tasarlanmış farklı boyutlarda taşıma araçlarımız</h3>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <div class="icon-inside-grid">
      <mat-icon class="material-symbols">inventory_2</mat-icon>
    </div>
    <div class="text-inside-grid text-inside-header">
      <h1>EŞYA PAKETLEME</h1>
    </div>
    <div class="text-inside-grid text-inside-body">
      <h3>Kaliteli malzemelerle her eşyaya uygun ambalaj ve paketleme</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <div class="icon-inside-grid">
      <mat-icon class="material-symbols">groups</mat-icon>
    </div>
    <div class="text-inside-grid text-inside-header">
      <h1>TECRÜBELİ PERSONEL</h1>
    </div>
    <div class="text-inside-grid text-inside-body">
      <h3>Kaliteli malzemelerle her eşyaya uygun ambalaj ve paketleme</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <div class="icon-inside-grid">
      <mat-icon class="material-symbols">admin_panel_settings</mat-icon>
    </div>
    <div class="text-inside-grid text-inside-header">
      <h1>SİGORTALI TAŞIMACILIK</h1>
    </div>
    <div class="text-inside-grid text-inside-body">
      <h3>Kaliteli malzemelerle her eşyaya uygun ambalaj ve paketleme</h3>
    </div>
  </mat-grid-tile>
</mat-grid-list>
