@import "/src/theme";

//#region Skill

$skill-grid-item-container-height: 200px;

.skill-grid-list-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 20px; /* Adjust the gap between items as needed */
}

/* Define the grid items */
.skill-grid-item-container {
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  height: $skill-grid-item-container-height;
}

/* Define styles for specific items if needed */
.skill-grid-item-container:nth-child(odd) {
  background-color: #e0e0e0;
}

/* Responsive layout */
@media (max-width: 768px) {
  .skill-grid-list-container {
    grid-template-columns: repeat(1, 1fr); /* Adjust for smaller screens */
  }
}

$skill-icon-size: 65px;

mat-icon {
  height: $skill-icon-size;
  width: $skill-icon-size;
  color: map_get($custom-warn, 700) !important;
}

.material-symbols {
  font-size: $skill-icon-size;
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" -25, "opsz" 48;
}

.skill-icon {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: $skill-icon-size;
  text-align: center;
}

.skill-header {
  position: absolute;
  left: -0;
  top: 80px;
  color: black;
  width: 100%;
  height: 50px;
  // background-color: map_get($custom-accent, 500);
  font-size: 25px;
}

.skill-header-background {
  left: -20px;
  top: 105px;
  position: absolute;
  left: -20px;
  width: calc(100% + 40px);
  height: 20px;
  background-color: map_get($custom-accent, 500);
}

.skill-body {
  position: absolute;
  top: 140px;
  left: 40px;
  right: 40px;
  font-size: 15px;
  text-align: center;
  color: map_get($custom-primary, 600);
}

h1 {
  margin: 0;
}
//#endregion

//#region Services
.service-grid-list-container {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 20px; /* Adjust the gap between items as needed */
}

/* Define the grid items */
.service-grid-item-container {
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  height: 300px;
}

/* Define styles for specific items if needed */
.service-grid-item-container:nth-child(odd) {
  background-color: #e0e0e0;
}

/* Responsive layout */
@media (max-width: 768px) {
  .service-grid-list-container {
    grid-template-columns: repeat(1, 1fr); /* Adjust for smaller screens */
  }
}

.services-header {
  position: absolute;
  top: 20px;
  left: auto;
  right: auto;
  color: black;
}

.services-body {
  position: absolute;
  top: 80px;
  left: 25px;
  right: 25px;
  text-align: justify;
  color: map_get($custom-primary, 600);
}

.service-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.information-button {
  width: 100%;
  background-color: map_get($custom-warn, 500);
  color: white;
}

.information-icon {
  color: white !important;
}
//#endregion

//#region Header
.header-text-container {
  position: relative;
  z-index: 3;
  color: black;
  text-align: center;
  height: calc(3072 * var(--windowWidth) / 4608 - 2rem);
  margin-bottom: 30px;
  font-size: 20px;

  @media screen and (min-width: 1080px) {
    font-size: 90px;
  }
}

.transportationType {
  color: map_get($custom-accent, 500);
  font-size: 50px;

  @media screen and (min-width: 1080px) {
    font-size: 125px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to a text element */
.text-animation {
  animation: fade 3s ease-in-out infinite;
}

.transportation-truck {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
    url("../../../../assets/jpgs/transportation-truck.jpg");
  background-size: cover;
  background-repeat: no-repeat; /* Prevents image repetition */
  width: var(--windowWidth);
  height: calc(3072 * var(--windowWidth) / 4608 + 1px);
  /* Add more styling as needed */
}
//#endregion
