.container {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.gen-container {
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 50px;
}

//#region Offer
.offer-container {
  width: 100%;
}

.offer-span {
  width: calc(90% - 290px);
  font-family: HNDRegular, Roboto, Arial, sans-serif !important;
}

@media (max-width: 720px) {
  .offer-span {
    width: 100%;
  }
}

.offer-span h2 span {
  color: red;
}

.offer-span h2 {
  width: 100%;
  font-size: 54px;
  font-weight: 700;
}

.offer-span h2,
.offer-span p {
  display: block;
  text-align: left;
  transition: 0.3s;
}

.Hndmfont,
.Hndrfont {
  letter-spacing: 1.5px;
}

.offer-span p {
  font-size: 24px;
}

.offer-button {
  font-size: 150%;
  padding: 30px;
  margin: 20px auto 0 15%;
  background-color: orange;
  color: white;
}
//#endregion

//#region Hizmetler
.services-container {
  width: 100%;
  margin-top: 200px;
}

.services-inner {
  height: 225px;
  width: 100%;
  font-family: HNDRegular, Roboto, Arial, sans-serif !important;
  justify-content: center;
  align-items: center;
}

.services-item {
  display: flex;
  float: left;
  width: 25%;
  height: 200px;
  text-align: center;
  flex-direction: column;
  margin: auto 0;
}

.services-item mat-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  transition: .5s;
}

.icon-container {
  display: flex;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 100%;
}

.icon-container:hover {
  border: 1px solid orange;
}

.services-item h3 {
  margin: auto;
  letter-spacing: 1.5px;
}
//#endregion
