@use "@angular/material" as mat;
@use "/src/palette" as palette;

// Define your custom color palette
$custom-primary: mat.define-palette(palette.$black-palette, 800);
$custom-accent: mat.define-palette(palette.$orange-palette, 400, 500, 600);
$custom-warn: mat.define-palette(palette.$green-palette, 500);

// Create the theme
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

// Include the custom theme
@include mat.all-component-themes($custom-theme);
