@use "@angular/material" as mat;
@use "/src/palette" as palette;

// Define your custom color palette
$custom-primary: mat.define-palette(palette.$primary-palette, main);
$custom-accent: mat.define-palette(palette.$accent-palette, main);
$custom-warn: mat.define-palette(palette.$red-palette, 500, 600, 700);
// $custom-third: mat.define-palette(mat.$green-palette, 500);

// Create the theme
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

// Include the custom theme
@include mat.all-component-themes($custom-theme);
