// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@use "theme";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
