// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@use "theme";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
}

body {
  animation: transition 1s;
}

@keyframes transition {
  from {
    opacity: 0;
    transform: rotateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}