// @import "primeng/resources/themes/mira/theme.css";
// @import "primeng/resources/primeng.css";
// @import "primeicons/primeicons.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
