<footer>
  <div class="footer">
    <div class="row">
      <a href="#"> <mat-icon svgIcon="whatsapp-filled-icon"></mat-icon></a>
      <a href="#"><mat-icon svgIcon="instagram-filled-icon"></mat-icon></a>
      <a href="#"><mat-icon svgIcon="facebook_outlined_icon"></mat-icon></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Bizimle İletişime Geç</a></li>
        <li><a href="#">Hizmetlerimiz</a></li>
        <li><a href="#">Gizlilik Politikamız</a></li>
        <li><a href="#">İletişim</a></li>
      </ul>
    </div>

    <div class="row">
      USTALAR TAŞIMACILIK Copyright © {{ currentYear }} USTALAR TAŞIMACILIK -
      All rights reserved || Designed By:
      <a href="https://www.linkedin.com/in/talhakabu/"> &#64;TalhaKabu </a>
    </div>
  </div>
</footer>
