<mat-toolbar color="primary" style="align-items: center">
  <mat-toolbar-row style="max-width: 1366px">
    <button class="menu-button" mat-button style="margin-left: 0" (click)="this.router.navigate([''])">
      Ana Sayfa
    </button>
    <button class="menu-button" mat-button >Hakkımızda</button>
    <button class="menu-button" mat-button (click)="this.router.navigate(['contact'])">İletişim</button>
    <span class="example-spacer"></span>
    <span mat-card-title class="title">Ustalar Taşımacılık</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <!-- <mat-sidenav
    [(opened)]="sidebarVisible"
    (openedChange)="onOpenedChange()"
    mode="over"
    [autoFocus]="false"
  >
    <mat-list>
      <mat-list-item role="listitem">
        <button
          mat-button
          routerLink="/"
          (click)="sidebarVisible = !sidebarVisible"
          class="list-button"
        >
          <mat-icon>home</mat-icon>Anasayfa
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button
          mat-button
          routerLink="/contact"
          (click)="sidebarVisible = !sidebarVisible"
          class="list-button"
        >
          <mat-icon>contact_page</mat-icon>İletişim
        </button>
      </mat-list-item>
      <div style="flex-grow: 1"></div>
      <mat-list-item>
        <button
          mat-icon-button
          style="color: white;"
          (click)="sidebarVisible = !sidebarVisible"
          class="list-icon-button"
        >
          <mat-icon svgIcon="facebook_colored_icon"></mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="sidebarVisible = !sidebarVisible"
          class="list-icon-button"
        >
          <mat-icon svgIcon="instagram_colored_icon"></mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="sidebarVisible = !sidebarVisible"
          class="list-icon-button"
        >
          <mat-icon svgIcon="whatsapp_colored_icon"></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
