.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: auto;
  min-width: 250px;
  max-width: 350px;
  background-color: yellow;
}

.list-button {
  width: 100%;
  justify-content: start;
}

.list-button:hover {
  border: 1px solid black;
  border-radius: 5px;
}
