<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span mat-card-title>Ustalar Taşımacılık</span>
    <button mat-icon-button (click)="sidebarVisible = !sidebarVisible">
      <mat-icon>{{ sidebarVisible ? "close" : "menu" }} </mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button class="offer-button">
      <mat-icon>edit</mat-icon>TEKLİF AL
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    [(opened)]="sidebarVisible"
    mode="over"
    [autoFocus]="false"
  >
    <mat-list>
      <mat-list-item role="listitem">
        <button
          mat-button
          routerLink="/"
          (click)="sidebarVisible = !sidebarVisible"
          class="list-button"
        >
          <mat-icon>home</mat-icon>Anasayfa
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button
          mat-button
          routerLink="/contact"
          (click)="sidebarVisible = !sidebarVisible"
          class="list-button"
        >
          <mat-icon>contact_page</mat-icon>İletişim
        </button>
      </mat-list-item>
      <div style="flex-grow: 1"></div>
      <mat-list-item>
        <button
          mat-icon-button
          (click)="sidebarVisible = !sidebarVisible"
          class="list-icon-button"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="sidebarVisible = !sidebarVisible"
          class="list-icon-button"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="sidebarVisible = !sidebarVisible"
          class="list-icon-button"
        >
          <mat-icon>phone</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 2rem">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
