@import "/src/theme";

$toolbar-height: 70px;

mat-toolbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: var(--toolbarHeight);
  justify-content: center;
}

mat-sidenav-container {
  color: map_get($custom-accent, 300);
  background-color: whitesmoke;
  top: var(--toolbarHeight);
  min-height: 100vh;
}

mat-sidenav {
  width: auto;
  min-width: 250px;
  max-width: 350px;
  color: map_get($custom-primary, 50);
  background-color: map_get($custom-primary, 700);

  height: calc(var(--windowHeight) - var(--toolbarHeight)) !important;
  position: fixed;
  z-index: 999;
  top: var(--toolbarHeight);
}

mat-list {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 0;
  height: calc(100% - 16px);
}

mat-list-item {
  text-align: center;
}

.list-button {
  width: 100%;
  justify-content: start;
  color: map-get($custom-primary, 100) !important;
}

.list-icon-button {
  width: auto;
  justify-content: center;
  align-items: center;
  color: map-get($custom-primary, 100) !important;
}

.offer-button {
  background-color: map-get($custom-accent, 600);
  color: white !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-icon {
  background-image: url('../../../../assets/pngs/logo.png'); /* Adjust the path to your PNG icon */
  background-size: contain; /* Adjust as needed */
  width: 75px; /* Set the width and height to match your icon size */
  height: 75px;
  display: inline-block;
}
