<div>
  <div class="tranportation-form">
    <div class="contact-header-container">
      <h3 style="margin-top: 0">Teklif Al</h3>
    </div>
    <div class="progres-container">
      <p>Aşağıdaki formu doldurarak nakliyat talebinde bulunabilirsiniz!</p>

      <div class="progress-bar-container">
        <p style="padding: 0; margin: 0; z-index: 3">
          Sayfa {{ page }}/{{ pagesLength }}
        </p>
        <div class="progress-bar"></div>
      </div>
    </div>
    <div
      class="input-list-container"
      *ngFor="let pageContainer of pages"
      [hidden]="page != pageContainer.page"
    >
      <div class="header-container">
        <mat-icon
          [svgIcon]="pageContainer.icon"
          style="margin-right: 5px"
        ></mat-icon>
        {{ pageContainer.name }}
      </div>
      <div [hidden]="page != 1">
        <mat-form-field
          appearance="outline"
          *ngFor="let input of inputs"
          color="primary"
        >
          <mat-label>{{ input.labelName }}</mat-label>
          <span matTextPrefix [hidden]="!input.prefix">+90&nbsp;</span>
          <input
            matInput
            [placeholder]="input.placeHolder"
            [type]="input.type"
            maxlength="50"
            (focus)="onInputFocus(input.labelName)"
            (blur)="onInputBlur(input.labelName)"
            [formControl]="input.inputValue"
            mask="(000) 000 00 00"
            required
          />
          <mat-error *ngIf="input.inputValue.hasError('required')">
            Zorunlu alan doldurulmalıdır!
          </mat-error>
          <mat-error *ngIf="input.inputValue.hasError('email')">
            Mail adresi yanlış!
          </mat-error>
          <mat-icon
            matSuffix
            [svgIcon]="input.icon"
            [color]="'primary'"
          ></mat-icon>
        </mat-form-field>
      </div>
      <div [hidden]="page != 2">
        <mat-radio-group [(ngModel)]="selectedTransportType">
          <mat-radio-button
            *ngFor="let transportType of transportTypeOptions"
            color="primary"
            [value]="transportType.value"
          >
            {{ transportType.labelName }}
          </mat-radio-button>
        </mat-radio-group>
        <div
          class="property-type-container"
          style="margin-top: 10px"
          [hidden]="selectedTransportType != 1"
        >
          <p>Mülk Tipi Belirtin *</p>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Mülk Tipi</mat-label>
            <mat-select [(ngModel)]="selectedPropertyType" required>
              <mat-option
                *ngFor="let propertyType of propertyTypeOptions"
                [value]="propertyType.value"
                >{{ propertyType.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Oda Sayısı</mat-label>
            <mat-select [(ngModel)]="selectedNumberOfRoom" required>
              <mat-option
                *ngFor="let numberOfRoom of numberOfRooms"
                [value]="numberOfRoom.value"
                >{{ numberOfRoom.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div [hidden]="selectedPropertyType != 2">
            <mat-form-field appearance="outline" color="primary">
              <mat-label>Bulunduğu Kat</mat-label>
              <mat-select [(ngModel)]="selectedNumberOfFloor" required>
                <mat-option
                  *ngFor="let numberOfFloor of numberOfFloors"
                  [value]="numberOfFloor.value"
                  >{{ numberOfFloor.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="note-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Detayları Belirtin</mat-label>
            <textarea
              class="no-resize"
              matInput
              placeholder="Detayları giriniz"
              [(ngModel)]="details"
              style="height: 100px"
              maxlength="250"
              (input)="remaining = total - details.length"
            ></textarea>
            <span class="remaning">{{ remaining }} / {{ total }}</span>
          </mat-form-field>
        </div>
      </div>
      <div [hidden]="page != 3">
        <p>Nereden</p>
        <div class="from-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>İl *</mat-label>
            <input
              matInput
              placeholder="İl giriniz"
              type="text"
              [(ngModel)]="fromCity"
              maxlength="50"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Adres *</mat-label>
            <input
              #fromInput
              matInput
              placeholder="Adres giriniz"
              type="text"
              [(ngModel)]="fromAdress"
              maxlength="200"
            />
            <mat-icon
              matSuffix
              svgIcon="map-filled-icon"
              [color]="'primary'"
            ></mat-icon>
          </mat-form-field>
        </div>
        <p>Nereye</p>
        <div class="to-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>İl *</mat-label>
            <input
              matInput
              placeholder="İl giriniz"
              type="text"
              [(ngModel)]="toCity"
              maxlength="50"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Adres *</mat-label>
            <input
              #toInput
              matInput
              placeholder="Adres giriniz"
              type="text"
              [(ngModel)]="toAdress"
              maxlength="200"
            />
            <mat-icon
              matSuffix
              svgIcon="map-filled-icon"
              [color]="'primary'"
            ></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div [hidden]="page != 4">
        <p>Ne Zaman</p>
        <div class="time-container">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Tarih *</mat-label>
            <input
              #dateInput
              matInput
              placeholder="Tarih Giriniz"
              style="height: 18px"
              [matDatepicker]="picker"
              [(ngModel)]="date"
            />
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon
                [color]="'primary'"
                matDatepickerToggleIcon
                svgIcon="date-filled-icon"
              ></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary">
            <mat-label>Zaman *</mat-label>
            <input
              #timeInput
              matInput
              placeholder="Saat Giriniz"
              type="time"
              #dateInputIcon
              color="warn"
              [(ngModel)]="time"
            />
            <mat-icon
              matSuffix
              svgIcon="time-filled-icon"
              [color]="'primary'"
            ></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div [hidden]="page != 5">
        <div class="confirmation-page">
          <div class="confirmation-item">
            <p><b>Tam Ad:</b> {{ finalModel.fullname }}</p>
          </div>
          <div class="confirmation-item">
            <p><b>Mail:</b> {{ finalModel.mail }}</p>
          </div>
          <div class="confirmation-item">
            <p><b>Telefon:</b> {{ finalModel.tel }}</p>
          </div>
          <div class="confirmation-item">
            <p><b>Taşıma Tipi:</b> {{ finalModel.transportType }}</p>
          </div>
          <div class="confirmation-item">
            <p><b>Ev Tipi:</b> {{ finalModel.propertyType }}</p>
          </div>
          <div class="confirmation-item">
            <p><b>Kat:</b> {{ finalModel.numberOfFloor }}</p>
          </div>
          <div class="confirmation-item">
            <p><b>Oda Sayısı:</b> {{ finalModel.numberOfRoom }}</p>
          </div>
          <div class="confirmation-item">
            <p>
              <b>Nereden:</b> {{ finalModel.fromAddress }} |
              {{ finalModel.fromCity }}
            </p>
          </div>
          <div class="confirmation-item">
            <p>
              <b>Nereye:</b> {{ finalModel.toAddress }} |
              {{ finalModel.toCity }}
            </p>
          </div>
          <div class="confirmation-item">
            <p>
              <b>Tarih & Saat:</b> {{ finalModel.date }} {{ finalModel.time }}
            </p>
          </div>
          <div class="confirmation-item">
            <p><b>Detaylar:</b> {{ finalModel.details }}</p>
          </div>
        </div>
      </div>
      <div class="pages-container">
        <button
          mat-icon-button
          (click)="changePage(false)"
          [hidden]="page == 1"
        >
          <mat-icon svgIcon="left-arrow-filled-icon"></mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          (click)="changePage(true)"
          [hidden]="page == pagesLength"
        >
          <mat-icon svgIcon="right-arrow-filled-icon"></mat-icon>
        </button>
        <button
          mat-stroked-button
          class="send-button"
          color="primary"
          [hidden]="page != pagesLength"
        >
          Gönder
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
