@import "/src/theme";

:host ::ng-deep .mdc-text-field {
  background-color: white !important;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-form-field:last-child {
  margin-bottom: 0;
}

@media (min-width: 720px) {
  .tranportation-form {
    width: calc(720px - 4rem);
    margin: 0 auto;
  }
}
.tranportation-form {
  padding: 2rem;
}

.progress-bar-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  border: 1px solid map_get($custom-primary, main);
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: calc(var(--page) * (100% / var(--pagesLenght)));
  background-color: map_get($custom-primary, main);
  border-radius: 5px;
  transition: width 1s ease;
}

//#region Kişisel bilgiler
.input-list-container {
  position: relative;
  border: 1px solid map_get($custom-primary, main);
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  background-color: map_get($custom-accent, third);
  padding: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.pages-container {
  display: flex;
  flex-direction: row;
}

.example-spacer {
  flex: 1 1 auto;
}
//#endregion

//#region Taşıma türü
.remaning {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
}
//#endregion

//#region Confirmation Page
.confirmation-page {
  display: flex;
  flex-direction: column;
}

.confirmation-item {
  display: flex;
  flex-direction: row;
}

.confirmation-item p {
  margin: 8px 0;
}

.send-button {
  border: 1px solid map_get($custom-primary, main);
  border-radius: 5px;
}
//#endregion
